
ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman ;
}
body {
  background: #ece5e5;
}

header {
  background-color: aqua;
  padding: 15px;
  text-align: center;
  border: brown;
  border-style: ridge;
  border-width: 3px;
}

header h1 {
  font-size: 28pt;
}

h2 {
  text-align: center;
}

p {
  margin: 10px 0px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

main {

  border: brown;
  border-style: ridge;
  border-width: 3px;
  margin: 25px;
  padding: 20px;
}

main p {
  font-size:18pt;
}

footer {
  background-color: aqua;
  text-align: center;
  border: brown;
  border-width: 3px;
  border-style: ridge;
  font-size: 16pt;
  padding: 10px;
}

section {
  margin-bottom: 15px;
  width: 100%;
}

section div.container {
  margin: auto;
  width: 80%;
  overflow: hidden;
}

section div.list {
  float: left;
  width: 50%;
}
